################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StorageSystem/.vs
/StorageSystem/StorageSystem/obj
/StorageSystem/StorageSystem/bin
/StorageSystem/StorageSystemTest/bin
/StorageSystem/StorageSystemTest/obj